header {
  position: relative;
}
header a {
  position: absolute;
  left: 5.86%;
  top: 50%;
  transform: translateY(-50%);
}

.menus .main-picture img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.menus .title {
  background-color: #f7f7f7;
  position: relative;
  z-index: 100;
  margin-top: -40px;
  padding: 24px 14px 20px 14px;
}
.menus .title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.25rem;
  margin-bottom: 35px;
  position: relative;
  display: inline-block;
}
.menus .title h1 i {
  margin-left: 34px;
}
.menus .title h1 .heart-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
}
.menus .title h1 .heart-wrapper i {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateY(50%);
}
.menus .title h1 .heart-wrapper i.fa-solid::before {
  display: block;
  font-size: 0;
  transition: all 0.3s linear 0s;
  top: 15px;
  left: 4px;
  position: absolute;
}
.menus .title h1 .heart-wrapper:hover > i.fa-solid::before {
  color: #9356DC;
  font-size: 20px;
  display: block;
  left: 0;
  top: 10px;
}
.menus .title h2 {
  position: relative;
  font-weight: normal;
}
.menus .title h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}
.menus .title.first {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 34px;
}
.menus .card-menu {
  background-color: #f7f7f7;
  padding: 12px 14px 50px 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menus .card-menu .card-menu-wrapper {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
}
.menus .card-menu .card-menu-wrapper .card-menu-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .card-menu .card-menu-wrapper .card-menu-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.menus .card-menu .card-menu-wrapper .card-menu-price {
  margin-right: -68px;
  transition: all 0.5s linear;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.menus .card-menu .card-menu-wrapper .card-menu-price span {
  display: inline-block;
  padding-right: 24px;
  padding-bottom: 16px;
  font-weight: bold;
}
.menus .card-menu .card-menu-wrapper .card-menu-price i {
  color: #ffffff;
  background-color: #99E2D0;
  padding: 24px;
  font-size: 20px;
}
.menus .card-menu .card-menu-wrapper .card-menu-price i::before {
  transform: rotate(0deg);
  transition: all 0.5s linear;
  display: inline-block;
}
.menus .card-menu .card-menu-wrapper:hover > .card-menu-price {
  margin-right: 0px;
}
.menus .card-menu .card-menu-wrapper:hover > .card-menu-price i::before {
  display: inline-block;
  transform: rotate(360deg);
}
.menus .card-menu.last {
  padding-bottom: 40px;
}
.menus .cta {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.menus .cta button {
  padding: 18px 62px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  font-size: unset;
}

/*
font-family: 'Shrikhand', cursive;
*/
/* variables */
/* Common */
button {
  border: none;
  padding: 18px 23px 16px 23px;
  border-radius: 23px;
  background: linear-gradient(#ff79da, #9356DC);
  color: #ffffff;
  font-size: 0.75rem;
  box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgba(0, 0, 0, 0.13);
}
button:hover {
  filter: brightness(1.5);
  box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Landing page */
header {
  display: flex;
  justify-content: center;
  position: relative;
}
header a {
  position: absolute;
  left: 5.86%;
  top: 42px;
  transform: translateY(-50%);
  color: #000000;
}
header picture {
  max-width: 170px;
}
header picture img {
  display: block;
  width: 100%;
  margin: 30px 0 12px 0;
}

.town {
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 13px -15px rgba(0, 0, 0, 0.4);
  padding: 16px 20px 20px 20px;
}
.town i {
  margin-right: 18px;
}

.book {
  font-size: 1rem;
  padding: 44px 20px;
  background: #f7f7f7;
  text-align: center;
}
.book h1 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.book p {
  margin-bottom: 26px;
}

.manual {
  padding: 48px 20px 70px 20px;
  font-size: 1.25rem;
}
.manual h2 {
  margin-bottom: 34px;
}
.manual .step-wrapper {
  display: flex;
  flex-direction: column;
}
.manual .step-wrapper .step-card i {
  color: #7e7e7e;
  font-size: 22px;
  margin-right: 28px;
}
.manual .step-wrapper .step-card p {
  padding: 30px 0;
  background-color: #f7f7f7;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgba(0, 0, 0, 0.13);
  position: relative;
  margin-bottom: 20px;
}
.manual .step-wrapper .step-card p span {
  position: absolute;
  color: #ffffff;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
}
.manual .step-wrapper .step-card.active i {
  color: #9356DC;
}
.manual .step-wrapper .step-card.active p {
  background-color: #f5edff;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 60px 20px 60px 20px;
}
.restaurant h2 {
  margin-bottom: 30px;
}
.restaurant .card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurant .card-wrapper a {
  color: #000000;
  text-decoration: none;
}
.restaurant .card-wrapper .restaurant-card {
  border-radius: 23px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgba(0, 0, 0, 0.13);
}
.restaurant .card-wrapper .restaurant-card figure {
  position: relative;
}
.restaurant .card-wrapper .restaurant-card figure img {
  height: 174px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}
.restaurant .card-wrapper .restaurant-card figure figcaption {
  position: absolute;
  top: 12px;
  right: 14px;
  background-color: #99e2d0;
  color: #008766;
  padding: 10px 12px;
  border-radius: 2px;
}
.restaurant .card-wrapper .restaurant-card .text-card {
  position: relative;
}
.restaurant .card-wrapper .restaurant-card .text-card span {
  font-weight: bold;
}
.restaurant .card-wrapper .restaurant-card .text-card p {
  padding: 20px 15px 20px 15px;
  line-height: 22px;
}
.restaurant .card-wrapper .restaurant-card .text-card .heart-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  right: 26px;
}
.restaurant .card-wrapper .restaurant-card .text-card .heart-wrapper i {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translateY(50%);
}
.restaurant .card-wrapper .restaurant-card .text-card .heart-wrapper i.fa-solid::before {
  display: block;
  font-size: 0;
  transition: all 0.3s linear 0s;
  top: 15px;
  left: 4px;
  position: absolute;
}
.restaurant .card-wrapper .restaurant-card .text-card .heart-wrapper:hover > i.fa-solid::before {
  color: #9356DC;
  font-size: 16px;
  display: block;
  left: 0;
  top: 8px;
}

footer {
  background-color: #353535;
  padding: 28px 20px 36px 20px;
  color: #ffffff;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  margin-bottom: 22px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 12px;
}
footer ul li a {
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */