@import '_variables';
@import '_mixins';

/* Spinner */
.spinner {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: block-spinner 3s linear 0s 1 forwards;

  .spinner__animation-wrapper {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: 'Shrikhand', cursive;
      margin-bottom: 100px;
      font-size: 3rem;
    }
  }


  i.spinner__animation-spin1::before,
  i.spinner__animation-spin3::before {
    display: inline-block;
    animation: spinner-rotation 2s linear 0s infinite;
  }

  i.spinner__animation-spin2::before {
    display: inline-block;
    animation: spinner-rotation 2s linear 0s infinite reverse;
  }

  .spinner__animation-icons {
    position: relative;
  }

  .spinner__animation-spin1 {
    @include spin;
    color: $purple;
    font-size: 40px;
  }

  .spinner__animation-spin2 {
    @include spin;
    color: $pink;
    font-size: 80px;
  }

  .spinner__animation-spin3 {
    @include spin;    
    color: $lightgreen;
    font-size: 160px;
  }

  .spinner {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 20px;
    animation: change-color-text 2s linear 0s infinite;
    margin-top: 120px;
    text-align: center;
  }
}

@keyframes block-spinner {
  from {
    opacity: 100%;
  }  
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes change-color-text {
  0% {
    color: $purple;
  }
  33% {
    color: $pink;
  }
  66% {
    color: $lightgreen;
  }
  100% {
    color: $purple;
  }
}


/* Menus */
.card-menu__wrapper {
  opacity: 0;
  &:nth-child(2) {
    animation: move-card .3s linear forwards;
  }
  &:nth-child(3) {
    animation: move-card .3s linear .3s forwards;
  }
  &:nth-child(4) {
    animation: move-card .3s linear .6s forwards;
  }
  &:nth-child(5) {
    animation: move-card .3s linear .9s forwards;
  }
}

@keyframes move-card {
  from {
    opacity: 0;
    transform: translateY(10px);
    
  }to {
    opacity: 1;
    transform: translateY(0px);
  }
}
