@import '_mixins';
@media (min-width: 700px) {
  .place {
    background: url(../images/map/map.jpg) 28% 58% no-repeat;
    height: 500px;

    span {
      display: inline-block;
      background: rgba(255,255,255,0.9);
      padding: 18px 25px;
      border-radius: 20px;
    }
  }
  .menus .main-picture img {
    height: 500px;
  }

  .manual .step-wrapper,
  .restaurant .card-wrapper,
  .all-menus {
    @include grid-responsive;
  }
}