@import '_landing-page';
@import '_page-menus';
@import '_animation-menus';
@import '_responsive';

/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
p {
  font-size: unset;
}

/* Common */
button {
  border: none;
  padding: 18px 23px 16px 23px;
  border-radius: 23px;
  background: linear-gradient($pink, $purple);
  color: $white;
  font-size: 0.75rem;
  box-shadow: 0px 0px 6px -14px $black, 0px 9px 9px -4px rgb(0 0 0 / 13%);

  &:hover {
    filter: brightness(1.1);
    box-shadow: 0px 0px 6px -14px $black, 0px 9px 9px -4px rgb(0 0 0 / 0.4);
    cursor: pointer;

  }
}