* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
p {
  font-size: unset;
}

/*
font-family: 'Shrikhand', cursive;
*/

/* variables */
$purple: #9356DC;
$pink: #ff79da;
$lightgreen: #99e2d0;


header {
  display: flex;
  justify-content: center;

  picture {
    max-width: 170px;

    img {
      display: block;
      width: 100%;
      margin: 30px 0 12px 0;
    }
  }
}

.town {
  text-align: center;
  font-size:  0.875rem;
  font-weight: bold;
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 13px -15px rgb(0 0 0 / 0.4);
  padding: 16px 20px 20px 20px;

  i {
    margin-right: 18px;
  }
}

.book {
  font-size: 1rem;
  padding: 44px 20px;
  background: #f7f7f7;
  text-align: center;

  h1 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 26px;
  }

  button {
    border: none;
    padding: 18px 23px 16px 23px;
    border-radius: 23px;
    background: linear-gradient($pink, $purple);
    color: #ffffff;
    font-size: 0.75rem;
  }
}

.manual {
  padding: 48px 20px 70px 20px;
  font-size: 1.25rem;

  h2 {
    margin-bottom: 34px;
  }

  .step-wrapper {
    display: flex;
    flex-direction: column;

    .step-card {      
      i {
        color: #7e7e7e;
        font-size: 22px;
        margin-right: 28px;
      }
      
      p {
        padding: 30px 0;
        background-color: #f7f7f7;
        font-size: 0.875rem;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgb(0 0 0 / 0.13);
        position: relative;
        margin-bottom: 20px;

        span {
          position: absolute;
          color: #ffffff;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $purple;
          height: 24px;
          width: 24px;
          line-height: 24px;
          border-radius: 50%;
        }
      }

      &.active {
        i {
          color: $purple;
        }

        p {
          background-color: #f5edff;
        }
      }
    }
  }
}

.restaurant {
  background-color: #f7f7f7;
  padding: 60px 20px 60px 20px;


  h2 {
    margin-bottom: 30px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .restaurant-card {
      border-radius: 23px;
      background-color: #ffffff;
      box-shadow: 0px 0px 6px -14px #000000, 0px 9px 9px -4px rgb(0 0 0 / 13%);
  
      figure {
        position: relative;
        
        img {
          height: 174px;
          display: block;
          object-fit: cover;
          width: 100%;
          border-top-left-radius: 23px;
          border-top-right-radius: 23px;
        }
    
        figcaption {
          position: absolute;
          top: 12px;
          right: 14px;
          background-color: $lightgreen;
          color: #008766;
          padding: 10px 12px; 
          border-radius: 2px; 
        }
      }
  
      .text-card {
        
        span {
          font-weight: bold;
        }
        
        p {
          position: relative;
          padding: 20px 15px 20px 15px;
          line-height: 22px;
  
          i {
            position: absolute;
            right: 26px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

footer {
  background-color: #353535;
  padding: 28px 20px 36px 20px;
  color: #ffffff;

  h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
    margin-bottom: 22px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 12px;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}